<header class="site-header" role="banner">

  <div class="wrapper">
    <ul class="flex-container flex-around-wrap-center">
      <li class="footer-col footer-col-2">
        <img class="avatar" src="../assets/img/avatar.png" alt="avatar">
      </li>

      <li class="footer-col footer-col-3">
        <p class="main-description">Hey there! I’m constanza 👋🏼 <br><br>
          Here you can find posts that I do randomly to hopefully contribute to our community.<br><br>
          I’m generally interested in grounding and reasoning NLP, in representation learning, and I enjoy learning about cognitive sciences.</p>
      </li>
    </ul>
    <ul class="flex-container flex-social">
      {%- if site.twitter_username -%}<li><a href="https://www.twitter.com/{{ site.twitter_username| cgi_escape | escape }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#twitter' | relative_url }}"></use></svg> <span class="username"></span></a></li>{%- endif -%}
      {%- if site.github_username -%}<li><a href="https://github.com/{{ site.github_username| cgi_escape | escape }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use></svg> <span class="username"></span></a></li>{%- endif -%}
    </ul>
  </div>
</header>
