{%- if site.data.publications and site.data.publications.size > 0 -%}
<div class="publications">
  <h2>Selected publications</h2>
  {%- for pub in site.data.publications %}
  <a href="{{ pub.paper }}">{{ pub.title }}</a>
  <p>
    {{ pub.authors }}<br>
    <span class="pub-venue">{{ pub.venue }} {{ pub.year }}</span>
    {%- if pub.paper or pub.code -%}
    <span class="pub-links">
      <br>
      {%- if pub.paper %} <a href="{{ pub.paper }}">paper</a>{% endif -%}
      {%- if pub.paper and pub.code %} &middot;{% endif -%}
      {%- if pub.code %} <a href="{{ pub.code }}">code</a>{% endif -%}
    </span>
    {%- endif -%}
  </p>
  {%- endfor %}
</div>
{%- endif -%}
