---
---

@import "minima";

@font-face {
  font-family: "Proxima-Nova-Regular";
  src: url("fonts/Proxima-Nova-Regular.otf");
}
@font-face {
  font-family: "Proxima-Nova-Bold";
  src: url("fonts/Proxima-Nova-Bold.otf");
}
@font-face {
  font-family: "Proxima-Nova-Thin";
  src: url("fonts/Proxima-Nova-Thin.otf");
}

body {
  border-top: 5px solid #424242;
  border-bottom: 5px solid #424242;
  font-family: 'Proxima-Nova-Regular',sans-serif;
  /*font-size: 17px;*/
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Proxima-Nova-Bold',sans-serif;
  font-weight: bold;
  margin: 1em 0 0.3em;
}

blockquote {
  letter-spacing: -0.5px;
  font-family: 'Proxima-Nova-Thin',sans-serif;
  font-weight: bold;
}

/** Links */

.page-navigation {
  padding-top: 4em;
  padding-bottom: 2em;
}
.top-page-navigation {
  font-size: 0.8rem;
}

/* Home */

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.flex-between-wrap {
  justify-content: space-between;
  flex-wrap: wrap;
}

.site-header {
  border-top: 0;
}

.flex-around-wrap-center {
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.flex-social {
  justify-content: flex-end;
}

.svg-icon {
  fill: #3f3f3f;
}

.main-description {
  font-family: 'Roboto Mono', monospace !important;
  font-size: 14px;
  font-weight: 600;
}

// about

.avatar {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  margin-bottom: 1em;
}

@media screen and (max-width: 800px) {
  .avatar {
    width: 40%;
    margin-bottom: 3em;
  }
  .main-description {
    font-size: 14px;
    font-weight: 800;
  }

  .flex-social{
    justify-content: center
  }
}

/******************/
/* Footer */
.footer-col-wrapper > .flex-container {
  display: flex;
  justify-content: center;
}
.social-media-list {
  display: flex;
}

.social-media-list > li{
  padding-top: 0 !important;
  padding-left: 0.5em;
  padding-right: 0.5em;
}


/******************/
/* Post */
.post-header {
  padding-top: 1em;
}

.page-navigation {
  margin: 50px auto 0 auto;
}

.page-navigation {
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  font-size: 0.8rem;
}

.post-title span, .post-meta span {
  background-color: #3d9cdf;
  color: #fff;
}
.post-header h1 {
  line-height: 1.4;
}
@media screen and (max-width: 800px) {
  .post-content img {
    width : 95% !important;
  }
}
/******************/
/* home */
.code {
  font-family: Consolas, monaco, monospace;
}

.home > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.home ul li .post-date {
  float: right;
  margin: 0 0 0 20px;
}

.home ul li .title {
  max-width: 100%;
  word-wrap: normal !important;
}

.home ul li .post-date {
  float: right;
  margin: 0 0 0 20px;
}

.home ul li span {
  display: inline-block;
  color: #757575;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.home ul li a {
  text-decoration: none;
  border: 0;
  box-sizing: border-box;
}

.home ul li {
  margin: 25px 0;
}

.home .title {
  font-family: Consolas, monaco, monospace;
  font-size: 1em;
}
