<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    {%- if page.add_header -%}
      {%- include header.html -%}
    {%- endif -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {%- if page.layout == 'post' -%}
        <div class="top-page-navigation code">
          <a class="home" href="{{ "/" | prepend: site.baseurl | prepend: site.url }}" title="Back to Index">&lt;&lt Index</a>
        </div>
      {% endif %}
        {{ content }}
      </div>
      {%- if page.layout == 'post' -%}
      <div class="page-navigation code">
        {% if page.next.url and false %}
          <a class="next" href="{{ page.next.url | prepend: site.baseurl | prepend: site.url }}" title="NEXT: {{page.next.title}}">&lt;&lt;</a>
          <span> &middot; </span>
        {% endif %}
          <a class="home" href="{{ "/" | prepend: site.baseurl | prepend: site.url }}" title="Back to Index">&lt;&lt Index</a>
        {% if page.previous.url %}
          <span> &middot; </span>
          <a class="prev" href="{{ page.previous.url | prepend: site.baseurl | prepend: site.url }}" title="PREV: {{page.previous.title}}">{{page.previous.title}} &gt;&gt</a>
        {% endif %}
      </div>
      {% endif %}
    </main>

  </body>

</html>
