---
layout: default
---

<div class="home">

    {% for post in site.posts %}
    {% unless post.next %}
      <h2 class="code">{{ post.date | date: '%b %Y' }}</h2>
    {% else %}
      {% capture year %}{{ post.date | date: '%b %Y' }}{% endcapture %}
      {% capture nyear %}{{ post.next.date | date: '%b %Y' }}{% endcapture %}
      {% if year != nyear %}
        <h2 class="code" style="margin-top: 2em;">{{ post.date | date: '%b %Y' }}</h2>
      {% endif %}
    {% endunless %}

    <ul>
      <li>
        <div class="post-date code">
          <span>{{ post.date | date: "%b %d" }}</span>
        </div>
        <div class="title">
          <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        </div>
      </li>
    </ul>

  {% endfor %}


</div>
